<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>

	<link rel="stylesheet" href="css/style.css">
	<script src="js/script-min.js" defer></script>

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.41/vue.global.prod.min.js" integrity="sha512-0bHFSq8ASKChkYlLEzEnqpH3H/RSqL7UvhhOmSPz5JxozXuMge8JtNuv/0cgZRv2ZUR0GO9rdo576xUbKcrNIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body translate="no" id="app">
	<div class="app" :class="colorTheme">
		<div class="calculator">
			<h4>Calculator</h4>
			<div class="input">
				<input type="text" class="input" v-model="input">
			</div>
			<div class="btns">
				<div class="btn" @click="clean">
					C
				</div>
				<div class="btn" v-for="button in buttons" @click="add(button)">
					{{ button }}
				</div>
				<div class="btn" @click="getResult">
					=
				</div>
			</div>
			<div class="theme" @click="changeTheme">
				Change Theme
			</div>
		</div>
	</div>
</body>
</html>